In [4]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier

import warnings
warnings.filterwarnings('ignore')

In [8]:
ranks = pd.read_excel(r"D:\TIRTH\Windsor Study Material\SEM-3\AML\Project\ranks.xlsx", sheet_name='ILFS', header = 0,index_col=None)
ranks

,Ranks,1,2,3,4,5,6,7,8,9,...,345,346,347,348,349,350,351,352,353,354
0,D1,199,134,223,192,138,159,117,132,207,...,2.0,107.0,101.0,305.0,319.0,105.0,111.0,110.0,112.0,5.0
1,D2,105,112,5,111,109,110,305,319,107,...,201.0,154.0,234.0,207.0,60.0,192.0,121.0,122.0,223.0,199.0
2,D3,85,112,111,5,109,107,110,305,319,...,212.0,134.0,132.0,201.0,207.0,154.0,235.0,117.0,199.0,121.0
3,D4,13,4,5,7,8,10,12,18,24,...,153.0,201.0,132.0,207.0,134.0,223.0,81.0,121.0,117.0,199.0
4,D5,199,117,121,81,132,223,207,192,155,...,103.0,106.0,110.0,193.0,203.0,215.0,226.0,227.0,239.0,241.0
5,D6,199,121,132,192,157,117,207,81,210,...,351.0,352.0,353.0,35.0,96.0,254.0,31.0,86.0,104.0,106.0
6,D7,174,186,176,117,152,157,158,163,136,...,309.0,304.0,142.0,5.0,111.0,110.0,112.0,85.0,108.0,133.0
7,D8,108,85,5,111,112,304,309,306,307,...,159.0,191.0,201.0,153.0,152.0,137.0,163.0,176.0,186.0,174.0
8,D9,108,85,112,141,149,139,5,64,145,...,190.0,153.0,157.0,158.0,201.0,159.0,152.0,176.0,186.0,174.0
9,D10,2,7,31,103,239,240,58,101,105,...,136.0,154.0,158.0,191.0,163.0,152.0,159.0,176.0,186.0,174.0
10,D11,4,9,10,11,18,24,27,28,39,...,152.0,158.0,136.0,163.0,191.0,157.0,159.0,176.0,186.0,174.0
11,D12,174,186,176,191,163,137,201,159,152,...,349.0,350.0,351.0,352.0,353.0,354.0,2.0,7.0,244.0,336.0
12,D13,67,61,64,41,147,8,38,42,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# RF on all data
rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
# Feature Scaling
scaler = StandardScaler()

dataset = pd.read_excel('D:\TIRTH\Windsor Study Material\SEM-3\AML\Project\ranks.xlsx')

for i in range(1,14):
    X = dataset.iloc[:,:-1]
    y = dataset.iloc[:,-1]
    skf = StratifiedKFold(n_splits = 10, shuffle = True, random_state = 1)
    j = 1
    for X_train_index, X_test_index in skf.split(X,y):
        print('\tfold{}'.format(j))
        X_train, X_test = X.iloc[X_train_index], X.iloc[X_test_index]
        y_train, y_test = y.iloc[X_train_index], y.iloc[X_test_index]
        scaler.fit(X_train)
        X_train = scaler.transform(X_train)
        X_test = scaler.transform(X_test)
        rf.fit(X_train, y_train)
        y_pred = rf.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        f1 = f1_score(y_test, y_pred, average = 'weighted')
        print('\tACC:', acc*100)
        print('\tf1-score:', f1)
        j+=1

OSError: [Errno 22] Invalid argument: 'D:\\TIRTH\\Windsor Study Material\\SEM-3\\AML\\Project\ranks.xlsx'